RewriteEngine On
RewriteBase /loja_magica/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^clientes$ pages/clientes.html [L]
RewriteRule ^pedidos$ pages/pedidos.html [L]
RewriteRule ^importar$ pages/importar.html [L]
